@media (max-width:1024px){
    .nav-menu{
    display: none;
}
.burger-bar{
    display: block;
    width: 39.98px;
    height: 40px;
}
.hero-section{
   flex-direction: column;
   gap:64px;
}
.left-block{
    order:2;
    margin: 0 auto;
}
.hero-texts{
    text-align: center;
    align-items: center;
}
.hero-header, .top{
font-size:56px;
Line-height:67.2px;
text-align: center;
}
.hero-paraghrap{
    max-width: 445px;
    width: 90%;
    text-align: center;
}
.provide{
    display: inline;
}
.right-block{
    order:1;
}
/*.logos{
flex-wrap: wrap;
max-width: 567.49px;
width:90%;
margin: 0 auto;
row-gap: 32px;
}
*/
.text-box{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:64px;
}
.destination-header{
font-size: 40px;
}
.card-img{
    height:314px;
}
}
@media (max-width:744px){
header{
    height:112px;
}
.user-account{
    display: none;
}
.burger-bar{
    order:2;
}
.brand-logo{
    order:1;
}
.hero-section{
    padding: 48px 0;
    row-gap: 48px;
}
.right-block{
    height:180px;
}
.destination-header{
font-size: 32px;
}
}
@media (max-width:430px){
   .container{
   max-width: 398px;
   width:90%;
} 
.hero-section{
    padding: 32px 0;
}
.right-block{
    height:147.52px;
}
.hero-header, .top{
font-size:40px;
Line-height:48px;
text-align: center;
}
.hero-texts{
    gap:24px;
}
.hero-paraghrap{
font-size: 16px;
line-height: 25.6px;
}
.buttons{
flex-direction: column;
  width:100%;
  gap:24px;
}
.watch{
    margin: 0 auto;
}
.left-block{
    width:100%;
}
.top-destinations{
display: flex;
flex-direction: column;
align-items: center;
}
.right-arrow,
.left-arrow{
width:64px;
height:64px;
}
.destinations-subheader{
    font-size:16px;
}
.arrow-btns{
    justify-content: space-between;
}
}