body{
    font-family:  sans-serif;
}
.container{
   max-width: 1184px;
   width:95%;
   margin: 0 auto;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    height: 113px;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#fff;
    padding:32px 0;
}
.brand-logo{
    order: 1;
    width:142px;
}
.logo{
    width:100%;
}
.burger-bar{
    display: none;
}
.nav-menu{
    order:2;
}
.nav-links{
    display: flex;
    gap:64px;
}
.nav-links li{
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
color: #19182580;
}
.nav-links li:first-child{
    color:#222831;
}
.user-account{
    display: flex;
    align-items: center;
    font-size:14px;
    order:3;
}
.log-in{
color:#222831;
margin-right:32px;
font-weight: 700;
}
.sign-up{
    color:#EEEEEE;
    background-color: #5D50C6;
    padding: 16px 32px;
    border-radius:100px;
}
/*hero-section*/
.hero-section{
    display: flex;
    padding: 64px 0;
}
.left-block{
    max-width:412px;
    width:90%;
    display: flex;
    flex-direction: column;
    gap:43px;
}
.hero-texts{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:43px;
}
.hero-header{
font-size: 69px;
font-weight: 700;
line-height: 82.8px;
}
.top{
color:#F85E9F;
}
.hero-paraghrap{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color:#19182580;
}
.provide{
    display: block;
}
.buttons{
    display: flex;
    gap:48px;
}
.started{
padding: 16px 32px;
gap: 8px;
border-radius: 100px;
background-color: #5D50C6;
color:#EEEEEE;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
}
.watch{
    display: flex;
    gap:8px;
    align-items: center;
}
.play-btn{
    width:24px;
    height:24px;
}
.watch{
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
color:#222831;
}
.right-block{
    max-width:772px;
    width:100%;
    align-self: center;
    height:287.38px;
}
.map-image{
    width:100%;
    height:100%;
}

/*travel companies*/
.travel-companies{
padding:64px 0;
}
.logos{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo-1{
    max-width: 211.83px;
    width:90%;
    height:32px;
}
.logo-2{
    max-width:113.06px;
    width:90%;
    height:32px;
}
.logo-3{
    max-width:188.6px;
    width:90%;
    height:32px;
}
.logo-4{
    max-width:102.53px;
    width:90%;
    height:32px;
}
.logo-5{
    max-width:173.57px;
     width:90%;
     height:32px;
}
.company{
    width:100%;
    height:100%;
}