@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family:  sans-serif;
}
/*header*/
header{
    max-width: 1184px;
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 113px;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#fff;
    padding:32px 0;
}
.brand-logo{
    order: 1;
    width:142px;
}
.logo{
    width:100%;
}
.burger-bar{
    display: none;
}
.nav-menu{
    order:2;
}
.nav-links{
    display: flex;
    gap:64px;
}
.nav-links li{
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
color: #19182580;
}
.nav-links li:first-child{
    color:#222831;
}
.user-account{
    display: flex;
    align-items: center;
    font-size:14px;
    order:3;
}
.log-in{
color:#222831;
margin-right:32px;
font-weight: 700;
}
.sign-up{
    color:#EEEEEE;
    background-color: #5D50C6;
    padding: 16px 32px;
    border-radius:100px;
}
/*hero-section*/
.hero-section{
    display: flex;
    padding: 64px 0;
    max-width: 1184px;
    width:90%;
    margin: 0 auto;
}
.left-block{
    max-width:412px;
    width:90%;
    display: flex;
    flex-direction: column;
    gap:43px;
}
.hero-texts{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:43px;
}
.hero-header{
font-size: 69px;
font-weight: 700;
line-height: 82.8px;
}
.top{
color:#F85E9F;
}
.hero-paraghrap{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color:#19182580;
}
.provide{
    display: block;
}
.buttons{
    display: flex;
    gap:48px;
}
.started{
padding: 16px 32px;
gap: 8px;
border-radius: 100px;
background-color: #5D50C6;
color:#EEEEEE;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
}
.watch{
    display: flex;
    gap:8px;
    align-items: center;
}
.play-btn{
    width:24px;
    height:24px;
}
.watch{
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
color:#222831;
}
.right-block{
    max-width:772px;
    width:100%;
    align-self: center;
    height:287.38px;
}
.map-image{
    width:100%;
    height:100%;
}

/*travel companies
.travel-companies{
padding:64px 0;
}
.logos{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo-1{
    max-width: 211.83px;
    width:90%;
    height:32px;
}
.logo-2{
    max-width:113.06px;
    width:90%;
    height:32px;
}
.logo-3{
    max-width:188.6px;
    width:90%;
    height:32px;
}
.logo-4{
    max-width:102.53px;
    width:90%;
    height:32px;
}
.logo-5{
    max-width:173.57px;
     width:90%;
     height:32px;
}
.company{
    width:100%;
    height:100%;
}
    */
    /*destinations*/
.destinations{
    padding:64px 0;
    display: flex;
    flex-direction: column;
    gap:64px;
    max-width: 1184px;
    width:90%;
    margin: 0 auto;
}
.text-box{
display: flex;
justify-content: space-between;
}
.headers{
    display: flex;
    flex-direction: column;
    gap:16px;
    }
.destinations-subheader{
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
letter-spacing: 0.2em;
color:#F85E9F;
text-transform: uppercase;
}
.destination-header{
font-size: 44px;
font-weight: 700;
line-height: 52.8px;
color:#191825;
}
.arrow-btns{
    display: flex;
    gap:32px;
    align-items: center;
}
.right-arrow{
color:#FFFFFF;
width:100px;
height:100px;
background-color: #5D50C6;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.right,
.left{
    width:24px;
    height:24px;
}
.left-arrow{
width:100px;
height:100px;
border: 1px solid #1918251A;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.top-destinations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:32px;
    width:100%;
}
.card{
    display: flex;
    flex-direction: column;
    width:100%;
    border:2px solid red;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-image{
    width:100%;
}
.card-img{
    width:100%;
    height:350px;
    display: inline-block;
}
.card-title{
    padding: 32px;
}
.card-desc{
display: flex;
justify-content: space-between;
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
}
.span-el{
    display: block;
}
.card-header{
color:#191825;
}
.price{
color:#F85E9F;
}
.place-name{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color: #191825BF;
margin-top:16px;
margin-bottom: 32px;
}
.raiting{
display: flex;
align-items: center;
gap:8px;
}
.score{
font-size: 23px;
font-weight: 700;
color:#FF5722;
}
.star{
width:24px;
height:24px;
color:#FF5722;
}

/*travel-point*/
.travel-point{
    display: flex;
    padding-top:64px;
    padding-left: 0;
    max-width: 1312px;
    width:90%;
    margin-bottom: 73px;
}
.left-box{
    max-width:871px;
    width:100%;
}
.left-img{
    width:100%;
}
.right-box{
    max-width:441px;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.travel-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.travel-subheader{
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
letter-spacing: 0.2em;
text-transform: uppercase;
color:#F85E9F;
margin-bottom:16px;
}
.travel-header{
font-size: 44px;
font-weight: 700;
line-height: 52.8px;
text-align: left;
color:#191825;
margin-bottom:32px;
}
.travel-paraghrap{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color:#19182580;
}
.suggestion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
}
.box{
    border: 1px solid #1918251A;
    border-radius: 32px;
    padding:32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
}
.points{
font-size: 35px;
font-weight: 700;
line-height: 42px;
color:#FF5722;
}
.box-text{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color:#191825;
}
/*offers*/
.offers{
 display: flex;
 flex-direction: column;
 padding: 64px 0;
 max-width: 1184px;
 width:90%;
 margin: 0 auto; 
 row-gap:64px;  
}
.offer-text{
display: flex;
flex-direction: column;
}
.offer-subheader{
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
letter-spacing: 0.2em;
color:#F85E9F;
margin-bottom:16px;
}
.offer-header{
font-size: 44px;
font-weight: 700;
line-height: 52.8px;
color:#191825;
margin-bottom:32px;
}
.offer-paraghrap{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color:#19182580;
}
.date{
    display: block;
}
.service-box{
    display: flex;
    align-items: center;
    gap:32px;
    border:2px solid red;
    padding:32px;
}
.text-header{
font-size: 23px;
font-weight: 700;
line-height: 27.6px;
margin-bottom: 8px;
}
.text-paragh{
font-family: 'Inter';
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color:#19182580;
}
footer{
    margin-top: 99px;
}